@model IEnumerable<ProyectoGrupo5.Models.Ventas>

<div class="container">
    <h1 class="my-4">Carrito De Compras</h1>

    <div class="row">
        @if (Model != null)
        {
            <div class="col-12">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Nombre</th>                           
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Agregado</th>
                            <th>Monto Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in Model)
                        {
                            <tr>
                                <td><img src="@producto.Productos.Imagen" alt="@producto.Productos.Nombre"></td>
                                <td>@producto.Productos.Nombre</td>
                                <td>@producto.Productos.Descripcion</td>
                                <td>@(producto.Total / producto.Cantidad)</td>
                                <td>@producto.Cantidad</td>
                                <td>@producto.Fecha</td>
                                <td>@producto.Total</td>
                                <td>
                                    <a asp-area="" asp-controller="Compras" asp-action="BorrarCarrito" asp-route-id=" @producto.Id" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>                    
                </table>
                <div class="col-md-12 text-right" style="text-align: right;">
                    <p style="text-align: right;"><strong>Total General del Carrito: @Model.Sum(producto => producto.Total)</strong></p>
                    <a asp-area="" asp-controller="Compras" asp-action="EnviarCorreo" asp-route-id=" "  class="btn btn-info ">Realizar Pago</a>
                </div>
            </div>
        }
        else
        {
            <div class="col-12">
                <p>No hay productos en el carrito de compras.</p>
            </div>
        }


    </div>
</div>
<form method="post" asp-action="Pagar">
    <div>
        <input asp-action="Amount"/>
        <button type="submit">as</button>
    </div>
</form>