@model IEnumerable<ProyectoGrupo5.Models.Ventas>

<div class="container">
    <h1 class="my-4">Carrito De Compras</h1>

    <div class="row">
        @if (Model != null)
        {
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>

                            <th>Producto</th>
                            <th>Nombre</th>                           
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Agregado</th>
                            <th>Monto Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in Model)
                        {
                            <tr>
                                <td><img src="@producto.Productos.Imagen" alt="@producto.Productos.Nombre"></td>
                                <td>@producto.Productos.Nombre</td>
                                <td>@producto.Productos.Descripcion</td>
                                <td>@producto.Total/@producto.Cantidad</td>
                                <td>@producto.Cantidad</td>
                                <td>@producto.Fecha</td>
                                <td>@producto.Total</td>
                                
                            </tr>
                        }
                    </tbody>                    
                </table>
                <div class="col-md-12">
                    <p style="text-align: right;"><strong>Total General del Carrito: @Model.Sum(producto => producto.Total)</strong></p>
                </div>
            </div>
        }
        else
        {
            <div class="col-12">
                <p>No hay productos en el carrito de compras.</p>
            </div>
        }
    </div>
</div>
