@model IEnumerable<Productos>

<div class="container">
    <h1 class="my-4">Catálogo de Productos</h1>

    <div class="row">
        @if (Model != null)
        {
            @foreach (var producto in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <br>
                        <div class="img-container">
                            <center>
                                <img src="@producto.Imagen" alt="@producto.Nombre">
                            </center>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@producto.Nombre</h5>
                            <p class="card-text">@producto.Descripcion</p>
                            <a asp-area="" asp-controller="Compras" asp-action="AgregarAlCarrito" asp-route-id="@producto.IdProducto" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No hay productos disponibles en este momento.</p>
        }
    </div>
</div>





